:root {
  --primary: #03C4A1;
  --primary-dark: #05997e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body, button {
  font-family: 'Montserrat', 'Helvetica', 'Arial', 'sans-serif';
}

body {
  overflow-x: hidden;
}